In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv("barley.csv", index_col=0)
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
17LV1,2.055648,1.196013,0.710133,0.598007,0.934385,1.607143,2.167774,2.018272,4.036545,1.719269,6.129568,7.512458,0.224252,0.261628
17LV2,0.560631,4.335548,1.046512,1.308140,4.073920,1.420266,1.420266,1.943522,1.532392,2.840532,2.616279,5.867940,4.410299,0.710133
17LV3,2.155689,0.672757,4.372924,3.176910,4.036545,1.046512,5.419435,1.420266,1.233389,1.382890,2.093023,2.765781,3.887043,4.671927
18LV1,3.740172,5.256458,0.842381,0.202171,2.763010,0.876076,2.594534,3.571696,3.504306,3.335829,1.044553,5.357544,2.908036,6.263463
18LV2,5.997754,5.155373,0.876076,0.438038,0.808686,0.438038,3.672782,0.438038,4.144515,1.718458,5.795582,6.705354,11.184756,8.574979
18LV3,5.087982,3.841258,1.415200,2.965182,1.010857,4.211906,4.009734,0.774991,1.010857,1.044553,5.222763,6.806440,0.671085,6.785418
17DK1,5.728192,2.493448,3.672782,3.302134,2.459753,4.144515,3.773867,4.447772,4.784725,3.470610,6.671659,NaN,NaN,NaN
17DK2,2.426058,2.156496,2.830401,5.391239,6.671659,4.548858,2.695620,3.874953,4.481468,2.965182,3.268439,NaN,NaN,NaN
17DK3,3.740172,3.706477,3.942344,1.752153,2.931486,3.740172,5.896668,3.942344,2.426058,2.594534,4.919506,NaN,NaN,NaN
18DK1,3.206297,8.425849,2.535211,3.877382,4.399337,2.758906,3.206297,NaN,0.149130,NaN,3.802817,1.714996,2.460646,2.609776
18DK2,6.785418,5.219553,4.921292,3.802817,1.416736,8.500414,8.500414,NaN,2.982601,NaN,4.175642,7.903894,3.057167,8.276719
18DK3,1.491301,3.504557,8.425849,4.846727,1.491301,4.399337,4.399337,NaN,0.671085,NaN,0.671085,2.684341,4.772162,1.491301

## Print 3D

TODO: not finished

In [ ]:
from pyecharts import Scatter3D,Page
page = Page()# st
# range_color = ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf',
#                '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
scatter3D = Scatter3D("RS-Variety-Year-Location", width=1200, height=600) #设置图表的高和宽
scatter3D.add("", data, is_visualmap=True, visual_range_color=range_color) #视觉映射和颜色选择
page.add(scatter3D)
page.render()

In [ ]:
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

fig = plt.figure(1, figsize=(8, 6))
plt.clf()
ax = Axes3D(fig, rect=[0, 0, .95, 1])
plt.cla()
pca = decomposition.PCA(n_components=3)
pca.fit(X)
X3d = pca.transform(X)
# print(X)
for label, name in name_mappings:
    ax.text3D(X3d[y == label, 0].mean(),
              X3d[y == label, 1].mean(),
              X3d[y == label, 2].mean(),
              name,
              horizontalalignment='center',
              bbox=dict(alpha=.5, edgecolor='w',facecolor='w'))

ax.scatter(X3d[:, 0], X3d[:, 1], X3d[:, 2], c=y, cmap=plt.cm.nipy_spectral, edgecolor='k')
ax.set_title("3D Visualization")
ax.set_xlabel("Feature 1")
# ax.w_xaxis.set_ticklabels([])
ax.set_ylabel("Feature 2")
ax.set_zlabel("Feature 3")
plt.show()

In [3]:
df_drop = df.dropna(axis=0)
df_drop

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
17LV1,2.055648,1.196013,0.710133,0.598007,0.934385,1.607143,2.167774,2.018272,4.036545,1.719269,6.129568,7.512458,0.224252,0.261628
17LV2,0.560631,4.335548,1.046512,1.308140,4.073920,1.420266,1.420266,1.943522,1.532392,2.840532,2.616279,5.867940,4.410299,0.710133
17LV3,2.155689,0.672757,4.372924,3.176910,4.036545,1.046512,5.419435,1.420266,1.233389,1.382890,2.093023,2.765781,3.887043,4.671927
18LV1,3.740172,5.256458,0.842381,0.202171,2.763010,0.876076,2.594534,3.571696,3.504306,3.335829,1.044553,5.357544,2.908036,6.263463
18LV2,5.997754,5.155373,0.876076,0.438038,0.808686,0.438038,3.672782,0.438038,4.144515,1.718458,5.795582,6.705354,11.184756,8.574979
18LV3,5.087982,3.841258,1.415200,2.965182,1.010857,4.211906,4.009734,0.774991,1.010857,1.044553,5.222763,6.806440,0.671085,6.785418

In [22]:
df_lv = df.loc['17LV1':'18LV3', :]
df_dk = df.loc['17DK1':'18DK3', :]

In [23]:
df_17 = df.loc[['17LV1','17LV2','17LV3','17DK1','17DK2','17DK3'],:]
df_18 = df.loc[['18LV1','18LV2','18LV3','18DK1','18DK2','18DK3'],:]

In [4]:
def avg_std(df):
    avg = df.mean(axis=0)
    std = df.std(axis=0)
    avg_std = pd.concat([avg, std], axis=1, keys=['avg', 'std'])
    display(avg_std)

In [13]:
def oneway(df):
    size = len(df.keys())
    mx = np.zeros([size,size], np.float32)
    mx = pd.DataFrame(mx, index=df.keys(), columns=df.keys())
    for k1 in df.keys():
        for k2 in df.keys():
            Fv, pv = stats.f_oneway(df[k1], df[k2])
            mx[k1][k2] = pv
    display(mx)
    display('p <= 0.05:')
    display(mx<=0.05)
    display('p <= 0.01:')
    display(mx<=0.01)

## 方差分析-全部

In [5]:
avg_std(df)

         avg       std
1   3.581276  1.962444
2   3.830316  2.104411
3   2.965925  2.282845
4   2.638408  1.749757
5   2.749806  1.785719
6   3.141012  2.278039
7   3.979727  1.918747
8   2.492428  1.493636
9   2.579756  1.624021
10  2.341317  0.890363
11  3.867576  1.977134
12  5.257639  2.300694
13  3.730605  3.192447
14  4.405038  3.242347

In [14]:
oneway(df)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,NaN,0.767134,0.486325,0.227220,0.289429,0.617041,0.620027,NaN,0.186985,NaN,0.725217,NaN,NaN,NaN
2,0.767134,NaN,0.345320,0.145618,0.188799,0.449523,0.857447,NaN,0.117400,NaN,0.964749,NaN,NaN,NaN
3,0.486325,0.345320,1.000000,0.697046,0.798570,0.852549,0.251515,NaN,0.637721,NaN,0.312260,NaN,NaN,NaN
4,0.227220,0.145618,0.697046,NaN,0.878739,0.550637,0.087341,NaN,0.932945,NaN,0.121056,NaN,NaN,NaN
5,0.289429,0.188799,0.798570,0.878739,1.000000,0.644256,0.118305,NaN,0.809456,NaN,0.160235,NaN,NaN,NaN
6,0.617041,0.449523,0.852549,0.550637,0.644256,1.000000,0.339928,NaN,0.494359,NaN,0.413019,NaN,NaN,NaN
7,0.620027,0.857447,0.251515,0.087341,0.118305,0.339928,1.000000,NaN,0.066700,NaN,0.889144,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.186985,0.117400,0.637721,0.932945,0.809456,0.494359,0.066700,NaN,NaN,NaN,0.095193,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0.725217,0.964749,0.312260,0.121056,0.160235,0.413019,0.889144,NaN,0.095193,NaN,1.000000,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

'p <= 0.05:'

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False

'p <= 0.01:'

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## 方差分析-LV

In [15]:
oneway(df_drop)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,1.000000,0.904802,0.120644,0.097241,0.366119,0.126946,0.960310,0.129883,0.518454,0.197499,0.660344,0.039101,0.742451,0.447186
2,0.904802,1.000000,0.090685,0.071871,0.296308,0.095159,0.849661,0.095693,0.429607,0.146651,0.741351,0.046000,0.799688,0.495317
3,0.120644,0.090685,1.000000,0.905338,0.415780,0.945079,0.069779,0.841209,0.241931,0.510927,0.056159,0.000732,0.202663,0.072756
4,0.097241,0.071871,0.905338,1.000000,0.345382,0.846926,0.050815,0.732979,0.190662,0.407771,0.044582,0.000509,0.183257,0.063188
5,0.366119,0.296308,0.415780,0.345382,NaN,0.442690,0.302086,0.477347,0.733725,0.725471,0.185538,0.003440,0.375538,0.165883
6,0.126946,0.095159,0.945079,0.846926,0.442690,1.000000,0.072753,0.897128,0.257181,0.549939,0.058612,0.000705,0.210766,0.075811
7,0.960310,0.849661,0.069779,0.050815,0.302086,0.072753,1.000000,0.068272,0.466017,0.111457,0.582264,0.015909,0.706211,0.396536
8,0.129883,0.095693,0.841209,0.732979,0.477347,0.897128,0.068272,NaN,0.268040,0.602583,0.058099,0.000516,0.221691,0.078510
9,0.518454,0.429607,0.241931,0.190662,0.733725,0.257181,0.466017,0.268040,1.000000,0.434972,0.272055,0.005072,0.466600,0.220751
10,0.197499,0.146651,0.510927,0.407771,0.725471,0.549939,0.111457,0.602583,0.434972,1.000000,0.086898,0.000597,0.283972,0.106053
11,0.660344,0.741351,0.056159,0.044582,0.185538,0.058612,0.582264,0.058099,0.272055,0.086898,NaN,0.101104,0.972961,0.666595
12,0.039101,0.046000,0.000732,0.000509,0.003440,0.000705,0.015909,0.000516,0.005072,0.000597,0.101104,1.000000,0.291378,0.422269
13,0.742451,0.799688,0.202663,0.183257,0.375538,0.210766,0.706211,0.221691,0.466600,0.283972,0.972961,0.291378,1.000000,0.761265
14,0.447186,0.495317,0.072756,0.063188,0.165883,0.075811,0.396536,0.078510,0.220751,0.106053,0.666595,0.422269,0.761265,1.000000

'p <= 0.05:'

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,False,False,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,True,True,False,False
5,False,False,False,False,False,False,False,False,False,False,False,True,False,False
6,False,False,False,False,False,False,False,False,False,False,False,True,False,False
7,False,False,False,False,False,False,False,False,False,False,False,True,False,False
8,False,False,False,False,False,False,False,False,False,False,False,True,False,False
9,False,False,False,False,False,False,False,False,False,False,False,True,False,False
10,False,False,False,False,False,False,False,False,False,False,False,True,False,False
11,False,False,False,True,False,False,False,False,False,False,False,False,False,False
12,True,True,True,True,True,True,True,True,True,True,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False

'p <= 0.01:'

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False
5,False,False,False,False,False,False,False,False,False,False,False,True,False,False
6,False,False,False,False,False,False,False,False,False,False,False,True,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,True,False,False
9,False,False,False,False,False,False,False,False,False,False,False,True,False,False
10,False,False,False,False,False,False,False,False,False,False,False,True,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,True,True,True,True,False,True,True,True,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [18]:
avg_std(df_drop)

         avg       std
1   3.266313  2.050546
2   3.409568  1.994622
3   1.543871  1.407169
4   1.448075  1.311879
5   2.271234  1.557087
6   1.599990  1.344245
7   3.214087  1.442458
8   1.694464  1.112664
9   2.577001  1.469460
10  2.006922  0.887967
11  3.816961  2.160519
12  5.835919  1.683106
13  3.880912  3.955934
14  4.544591  3.384757

## 方差分析-DK

In [24]:
df_dk

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
17DK1,5.728192,2.493448,3.672782,3.302134,2.459753,4.144515,3.773867,4.447772,4.784725,3.470610,6.671659,NaN,NaN,NaN
17DK2,2.426058,2.156496,2.830401,5.391239,6.671659,4.548858,2.695620,3.874953,4.481468,2.965182,3.268439,NaN,NaN,NaN
17DK3,3.740172,3.706477,3.942344,1.752153,2.931486,3.740172,5.896668,3.942344,2.426058,2.594534,4.919506,NaN,NaN,NaN
18DK1,3.206297,8.425849,2.535211,3.877382,4.399337,2.758906,3.206297,NaN,0.149130,NaN,3.802817,1.714996,2.460646,2.609776
18DK2,6.785418,5.219553,4.921292,3.802817,1.416736,8.500414,8.500414,NaN,2.982601,NaN,4.175642,7.903894,3.057167,8.276719
18DK3,1.491301,3.504557,8.425849,4.846727,1.491301,4.399337,4.399337,NaN,0.671085,NaN,0.671085,2.684341,4.772162,1.491301

In [25]:
oneway(df_dk)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,1.000000,0.782244,0.690964,0.945888,0.577453,0.510075,0.495392,NaN,0.272325,NaN,0.985165,NaN,NaN,NaN
2,0.782244,NaN,0.917517,0.703068,0.432468,0.735709,0.709145,NaN,0.202571,NaN,0.794244,NaN,NaN,NaN
3,0.690964,0.917517,1.000000,0.595624,0.357534,0.810321,0.779274,NaN,0.155207,NaN,0.702300,NaN,NaN,NaN
4,0.945888,0.703068,0.595624,1.000000,0.550140,0.394753,0.389362,NaN,0.212618,NaN,0.927672,NaN,NaN,NaN
5,0.577453,0.432468,0.357534,0.550140,1.000000,0.235336,0.235174,NaN,0.580790,NaN,0.562734,NaN,NaN,NaN
6,0.510075,0.735709,0.810321,0.394753,0.235336,1.000000,0.958666,NaN,0.090827,NaN,0.519021,NaN,NaN,NaN
7,0.495392,0.709145,0.779274,0.389362,0.235174,0.958666,1.000000,NaN,0.094985,NaN,0.503831,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.272325,0.202571,0.155207,0.212618,0.580790,0.090827,0.094985,NaN,NaN,NaN,0.261827,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0.985165,0.794244,0.702300,0.927672,0.562734,0.519021,0.503831,NaN,0.261827,NaN,1.000000,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

'p <= 0.05:'

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False

'p <= 0.01:'

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [28]:
avg_std(df_dk)

         avg       std
1   3.896240  2.007434
2   4.251063  2.310718
3   4.387980  2.152102
4   3.828742  1.270454
5   3.228379  2.010261
6   4.682034  1.977480
7   4.745367  2.147539
8   4.088356  0.313082
9   2.582511  1.908676
10  3.010109  0.439763
11  3.918191  1.981398
12  4.101077  3.328809
13  3.429992  1.200011
14  4.125932  3.637928

## 方差分析-df_17

In [29]:
df_17

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
17LV1,2.055648,1.196013,0.710133,0.598007,0.934385,1.607143,2.167774,2.018272,4.036545,1.719269,6.129568,7.512458,0.224252,0.261628
17LV2,0.560631,4.335548,1.046512,1.308140,4.073920,1.420266,1.420266,1.943522,1.532392,2.840532,2.616279,5.867940,4.410299,0.710133
17LV3,2.155689,0.672757,4.372924,3.176910,4.036545,1.046512,5.419435,1.420266,1.233389,1.382890,2.093023,2.765781,3.887043,4.671927
17DK1,5.728192,2.493448,3.672782,3.302134,2.459753,4.144515,3.773867,4.447772,4.784725,3.470610,6.671659,NaN,NaN,NaN
17DK2,2.426058,2.156496,2.830401,5.391239,6.671659,4.548858,2.695620,3.874953,4.481468,2.965182,3.268439,NaN,NaN,NaN
17DK3,3.740172,3.706477,3.942344,1.752153,2.931486,3.740172,5.896668,3.942344,2.426058,2.594534,4.919506,NaN,NaN,NaN

In [30]:
avg_std(df_17)

         avg       std
1   2.777732  1.765166
2   2.426790  1.410667
3   2.762516  1.547614
4   2.588097  1.732727
5   3.517958  1.931965
6   2.751244  1.558023
7   3.562272  1.801507
8   2.941188  1.288747
9   3.082429  1.550345
10  2.495503  0.792557
11  4.283079  1.903887
12  5.382060  2.410352
13  2.840532  2.280819
14  1.881229  2.427197

In [38]:
df_17_drop = df_17.dropna()
df_17_drop

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
17LV1,2.055648,1.196013,0.710133,0.598007,0.934385,1.607143,2.167774,2.018272,4.036545,1.719269,6.129568,7.512458,0.224252,0.261628
17LV2,0.560631,4.335548,1.046512,1.308140,4.073920,1.420266,1.420266,1.943522,1.532392,2.840532,2.616279,5.867940,4.410299,0.710133
17LV3,2.155689,0.672757,4.372924,3.176910,4.036545,1.046512,5.419435,1.420266,1.233389,1.382890,2.093023,2.765781,3.887043,4.671927

In [42]:
df_17_11 = df_17.loc[:, '1':'11']
df_17_11

,1,2,3,4,5,6,7,8,9,10,11
17LV1,2.055648,1.196013,0.710133,0.598007,0.934385,1.607143,2.167774,2.018272,4.036545,1.719269,6.129568
17LV2,0.560631,4.335548,1.046512,1.308140,4.073920,1.420266,1.420266,1.943522,1.532392,2.840532,2.616279
17LV3,2.155689,0.672757,4.372924,3.176910,4.036545,1.046512,5.419435,1.420266,1.233389,1.382890,2.093023
17DK1,5.728192,2.493448,3.672782,3.302134,2.459753,4.144515,3.773867,4.447772,4.784725,3.470610,6.671659
17DK2,2.426058,2.156496,2.830401,5.391239,6.671659,4.548858,2.695620,3.874953,4.481468,2.965182,3.268439
17DK3,3.740172,3.706477,3.942344,1.752153,2.931486,3.740172,5.896668,3.942344,2.426058,2.594534,4.919506

In [52]:
avg_std(df_17_drop)

avg:
1     1.590656
2     2.068106
3     2.043189
4     1.694352
5     3.014950
6     1.357973
7     3.002492
8     1.794020
9     2.267442
10    1.980897
11    3.612957
12    5.382060
13    2.840532
14    1.881229
dtype: float64
std:
1     0.893429
2     1.981015
3     2.024607
4     1.332125
5     1.801919
6     0.285459
7     2.126242
8     0.325831
9     1.539365
10    0.763228
11    2.195096
12    2.410352
13    2.280819
14    2.427197
dtype: float64

In [39]:
oneway(df_17_drop)

           1         2         3         4         5         6         7  \
1   1.000000  0.722892  0.741080  0.916237  0.287245  0.689555  0.348790
2   0.722892  1.000000  0.988573  0.799676  0.573372  0.572094  0.607282
3   0.741080  0.988573  1.000000  0.815403  0.568232  0.592734  0.601680
4   0.916237  0.799676  0.815403  1.000000  0.365088  0.690919  0.417576
5   0.287245  0.573372  0.568232  0.365088  1.000000  0.190801  0.994193
6   0.689555  0.572094  0.592734  0.690919  0.190801  1.000000  0.254972
7   0.348790  0.607282  0.601680  0.417576  0.994193  0.254972  1.000000
8   0.729871  0.824688  0.843597  0.905901  0.312441  0.156203  0.385619
9   0.546126  0.897191  0.886015  0.651352  0.613894  0.371267  0.653034
10  0.595947  0.946693  0.962620  0.762685  0.411847  0.256074  0.477250
11  0.213485  0.416674  0.414069  0.265257  0.733788  0.152424  0.746782
12  0.062997  0.139640  0.140058  0.081199  0.244749  0.045396  0.269004
13  0.426741  0.680764  0.674145  0.494095  0.922226  0.326505  0.932641
14  0.855198  0.922687  0.933545  0.912569  0.551377  0.729561  0.579716

           8         9        10        11        12        13        14
1   0.729871  0.546126  0.595947  0.213485  0.062997  0.426741  0.855198
2   0.824688  0.897191  0.946693  0.416674  0.139640  0.680764  0.922687
3   0.843597  0.886015  0.962620  0.414069  0.140058  0.674145  0.933545
4   0.905901  0.651352  0.762685  0.265257  0.081199  0.494095  0.912569
5   0.312441  0.613894  0.411847  0.733788  0.244749  0.922226  0.551377
6   0.156203  0.371267  0.256074  0.152424  0.045396  0.326505  0.729561
7   0.385619  0.653034  0.477250  0.746782  0.269004  0.932641  0.579716
8   1.000000  0.629793  0.716387  0.228715  0.062965  0.475433  0.953777
9   0.629793  1.000000  0.787042  0.433762  0.132319  0.736544  0.827387
10  0.716387  0.787042  1.000000  0.290715  0.080251  0.569390  0.949163
11  0.228715  0.433762  0.290715  1.000000  0.400483  0.694288  0.411243
12  0.062965  0.132319  0.080251  0.400483  1.000000  0.255325  0.150975
13  0.475433  0.736544  0.569390  0.694288  0.255325  1.000000  0.644062
14  0.953777  0.827387  0.949163  0.411243  0.150975  0.644062  1.000000
p <= 0.05:
        1      2      3      4      5      6      7      8      9     10  \
1   False  False  False  False  False  False  False  False  False  False
2   False  False  False  False  False  False  False  False  False  False
3   False  False  False  False  False  False  False  False  False  False
4   False  False  False  False  False  False  False  False  False  False
5   False  False  False  False  False  False  False  False  False  False
6   False  False  False  False  False  False  False  False  False  False
7   False  False  False  False  False  False  False  False  False  False
8   False  False  False  False  False  False  False  False  False  False
9   False  False  False  False  False  False  False  False  False  False
10  False  False  False  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False  False  False  False
12  False  False  False  False  False   True  False  False  False  False
13  False  False  False  False  False  False  False  False  False  False
14  False  False  False  False  False  False  False  False  False  False

       11     12     13     14
1   False  False  False  False
2   False  False  False  False
3   False  False  False  False
4   False  False  False  False
5   False  False  False  False
6   False   True  False  False
7   False  False  False  False
8   False  False  False  False
9   False  False  False  False
10  False  False  False  False
11  False  False  False  False
12  False  False  False  False
13  False  False  False  False
14  False  False  False  False
p <= 0.01:
        1      2      3      4      5      6      7      8      9     10  \
1   False  False  False  False  False  False  False  False  False  False
2   False  False  False  False  False  False  False  False  False  False
3   False  False  False  False  False  False  False  False  False  False
4   False  False  False  False  False  False  False  False  False  False
5   False  False  False  False  False  False  False  False  False  False
6   False  False  False  False  False  False  False  False  False  False
7   False  False  False  False  False  False  False  False  False  False
8   False  False  False  False  False  False  False  False  False  False
9   False  False  False  False  False  False  False  False  False  False
10  False  False  False  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False  False  False  False
12  False  False  False  False  False  False  False  False  False  False
13  False  False  False  False  False  False  False  False  False  False
14  False  False  False  False  False  False  False  False  False  False

       11     12     13     14
1   False  False  False  False
2   False  False  False  False
3   False  False  False  False
4   False  False  False  False
5   False  False  False  False
6   False  False  False  False
7   False  False  False  False
8   False  False  False  False
9   False  False  False  False
10  False  False  False  False
11  False  False  False  False
12  False  False  False  False
13  False  False  False  False
14  False  False  False  False

## df_18

In [46]:
df_18

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
18LV1,3.740172,5.256458,0.842381,0.202171,2.763010,0.876076,2.594534,3.571696,3.504306,3.335829,1.044553,5.357544,2.908036,6.263463
18LV2,5.997754,5.155373,0.876076,0.438038,0.808686,0.438038,3.672782,0.438038,4.144515,1.718458,5.795582,6.705354,11.184756,8.574979
18LV3,5.087982,3.841258,1.415200,2.965182,1.010857,4.211906,4.009734,0.774991,1.010857,1.044553,5.222763,6.806440,0.671085,6.785418
18DK1,3.206297,8.425849,2.535211,3.877382,4.399337,2.758906,3.206297,NaN,0.149130,NaN,3.802817,1.714996,2.460646,2.609776
18DK2,6.785418,5.219553,4.921292,3.802817,1.416736,8.500414,8.500414,NaN,2.982601,NaN,4.175642,7.903894,3.057167,8.276719
18DK3,1.491301,3.504557,8.425849,4.846727,1.491301,4.399337,4.399337,NaN,0.671085,NaN,0.671085,2.684341,4.772162,1.491301

In [45]:
avg_std(df_18)

avg:
1     4.384821
2     5.233841
3     3.169335
4     2.688720
5     1.981655
6     3.530780
7     4.397183
8     1.594908
9     2.077082
10    2.032946
11    3.452074
12    5.195428
13    4.175642
14    5.666943
dtype: float64
std:
1     1.951195
2     1.739282
3     2.995101
4     1.930598
5     1.366279
6     2.936797
7     2.106141
8     1.720218
9     1.671040
10    1.177567
11    2.135603
12    2.476137
13    3.675988
14    2.954884
dtype: float64

In [47]:
oneway(df_18)

           1         2         3         4         5         6         7   8  \
1   1.000000  0.444722  0.424342  0.161079  0.033033  0.566147  0.991792 NaN
2   0.444722  1.000000  0.174958  0.037370  0.004834  0.249655  0.470367 NaN
3   0.424342  0.174958  1.000000  0.747933  0.397597  0.837075  0.430557 NaN
4   0.161079  0.037370  0.747933       NaN  0.480809  0.570295  0.173715 NaN
5   0.033033  0.004834  0.397597  0.480809  1.000000  0.268553  0.040169 NaN
6   0.566147  0.249655  0.837075  0.570295  0.268553  1.000000  0.570064 NaN
7   0.991792  0.470367  0.430557  0.173715  0.040169  0.570064  1.000000 NaN
8        NaN       NaN       NaN       NaN       NaN       NaN       NaN NaN
9   0.052404  0.009397  0.453411  0.570374  0.915905  0.316757  0.060652 NaN
10       NaN       NaN       NaN       NaN       NaN       NaN       NaN NaN
11  0.447955  0.144137  0.854428  0.530653  0.185832  0.958704  0.458070 NaN
12  0.542924  0.975805  0.230428  0.079014  0.019332  0.313433  0.560896 NaN
13  0.904454  0.538193  0.614483  0.400966  0.200548  0.744020  0.900618 NaN
14  0.395954  0.763364  0.176578  0.065635  0.019689  0.237673  0.411439 NaN

           9  10        11        12        13        14
1   0.052404 NaN  0.447955  0.542924  0.904454  0.395954
2   0.009397 NaN  0.144137  0.975805  0.538193  0.763364
3   0.453411 NaN  0.854428  0.230428  0.614483  0.176578
4   0.570374 NaN  0.530653  0.079014  0.400966  0.065635
5   0.915905 NaN  0.185832  0.019332  0.200548  0.019689
6   0.316757 NaN  0.958704  0.313433  0.744020  0.237673
7   0.060652 NaN  0.458070  0.560896  0.900618  0.411439
8        NaN NaN       NaN       NaN       NaN       NaN
9        NaN NaN  0.242559  0.028520  0.231811  0.026934
10       NaN NaN       NaN       NaN       NaN       NaN
11  0.242559 NaN  1.000000  0.220807  0.685560  0.167570
12  0.028520 NaN  0.220807  1.000000  0.585445  0.770626
13  0.231811 NaN  0.685560  0.585445  1.000000  0.456546
14  0.026934 NaN  0.167570  0.770626  0.456546       NaN
p <= 0.05:
        1      2      3      4      5      6      7      8      9     10  \
1   False  False  False  False   True  False  False  False  False  False
2   False  False  False   True   True  False  False  False   True  False
3   False  False  False  False  False  False  False  False  False  False
4   False   True  False  False  False  False  False  False  False  False
5    True   True  False  False  False  False   True  False  False  False
6   False  False  False  False  False  False  False  False  False  False
7   False  False  False  False   True  False  False  False  False  False
8   False  False  False  False  False  False  False  False  False  False
9   False   True  False  False  False  False  False  False  False  False
10  False  False  False  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False  False  False  False
12  False  False  False  False   True  False  False  False   True  False
13  False  False  False  False  False  False  False  False  False  False
14  False  False  False  False   True  False  False  False   True  False

       11     12     13     14
1   False  False  False  False
2   False  False  False  False
3   False  False  False  False
4   False  False  False  False
5   False   True  False   True
6   False  False  False  False
7   False  False  False  False
8   False  False  False  False
9   False   True  False   True
10  False  False  False  False
11  False  False  False  False
12  False  False  False  False
13  False  False  False  False
14  False  False  False  False
p <= 0.01:
        1      2      3      4      5      6      7      8      9     10  \
1   False  False  False  False  False  False  False  False  False  False
2   False  False  False  False   True  False  False  False   True  False
3   False  False  False  False  False  False  False  False  False  False
4   False  False  False  False  False  False  False  False  False  False
5   False   True  False  False  False  False  False  False  False  False
6   False  False  False  False  False  False  False  False  False  False
7   False  False  False  False  False  False  False  False  False  False
8   False  False  False  False  False  False  False  False  False  False
9   False   True  False  False  False  False  False  False  False  False
10  False  False  False  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False  False  False  False
12  False  False  False  False  False  False  False  False  False  False
13  False  False  False  False  False  False  False  False  False  False
14  False  False  False  False  False  False  False  False  False  False

       11     12     13     14
1   False  False  False  False
2   False  False  False  False
3   False  False  False  False
4   False  False  False  False
5   False  False  False  False
6   False  False  False  False
7   False  False  False  False
8   False  False  False  False
9   False  False  False  False
10  False  False  False  False
11  False  False  False  False
12  False  False  False  False
13  False  False  False  False
14  False  False  False  False

In [48]:
df_18_drop = df_18.dropna()
df_18_drop

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
18LV1,3.740172,5.256458,0.842381,0.202171,2.763010,0.876076,2.594534,3.571696,3.504306,3.335829,1.044553,5.357544,2.908036,6.263463
18LV2,5.997754,5.155373,0.876076,0.438038,0.808686,0.438038,3.672782,0.438038,4.144515,1.718458,5.795582,6.705354,11.184756,8.574979
18LV3,5.087982,3.841258,1.415200,2.965182,1.010857,4.211906,4.009734,0.774991,1.010857,1.044553,5.222763,6.806440,0.671085,6.785418

In [50]:
avg_std(df_18_drop)

avg:
1     4.941969
2     4.751030
3     1.044553
4     1.201797
5     1.527518
6     1.842007
7     3.425683
8     1.594908
9     2.886559
10    2.032946
11    4.020966
12    6.289779
13    4.921292
14    7.207954
dtype: float64
std:
1     1.135851
2     0.789505
3     0.321432
4     1.531683
5     1.074732
6     2.064046
7     0.739250
8     1.720218
9     1.655645
10    1.177567
11    2.593513
12    0.808920
13    5.538431
14    1.212303
dtype: float64

In [51]:
oneway(df_18_drop)

           1         2         3         4         5         6         7  \
1   1.000000  0.822793  0.004627  0.027346  0.019402  0.084876  0.124680
2   0.822793  1.000000  0.001665  0.023428  0.013842  0.084785  0.101066
3   0.004627  0.001665  1.000000  0.870299  0.497277  0.544617  0.006904
4   0.027346  0.023428  0.870299       NaN  0.778050  0.688396  0.086220
5   0.019402  0.013842  0.497277  0.778050  1.000000  0.826420  0.065327
6   0.084876  0.084785  0.544617  0.688396  0.826420  1.000000  0.279070
7   0.124680  0.101066  0.006904  0.086220  0.065327  0.279070  1.000000
8   0.048203  0.044645  0.614896  0.782235  0.956870  0.881162  0.165592
9   0.150891  0.153112  0.131493  0.265392  0.298957  0.531688  0.633706
10  0.036945  0.029360  0.233412  0.497598  0.612145  0.896040  0.157760
11  0.603236  0.665176  0.119802  0.180304  0.198785  0.318427  0.721666
12  0.169422  0.077844  0.000476  0.007043  0.003584  0.025467  0.010602
13  0.995249  0.960487  0.292774  0.324991  0.356283  0.417887  0.667028
14  0.077450  0.042326  0.001045  0.005983  0.003714  0.017801  0.009928

           8         9        10        11        12        13        14
1   0.048203  0.150891  0.036945  0.603236  0.169422  0.995249  0.077450
2   0.044645  0.153112  0.029360  0.665176  0.077844  0.960487  0.042326
3   0.614896  0.131493  0.233412  0.119802  0.000476  0.292774  0.001045
4   0.782235  0.265392  0.497598  0.180304  0.007043  0.324991  0.005983
5   0.956870  0.298957  0.612145  0.198785  0.003584  0.356283  0.003714
6   0.881162  0.531688  0.896040  0.318427  0.025467  0.417887  0.017801
7   0.165592  0.633706  0.157760  0.721666  0.010602  0.667028  0.009928
8   1.000000  0.401790  0.734320  0.248289  0.012870  0.376720  0.009883
9   0.401790  1.000000  0.507098  0.557829  0.032936  0.575014  0.021819
10  0.734320  0.507098  1.000000  0.293271  0.006694  0.426855  0.006073
11  0.248289  0.557829  0.293271  1.000000  0.221584  0.811305  0.126084
12  0.012870  0.032936  0.006694  0.221584  1.000000  0.693725  0.336507
13  0.376720  0.575014  0.426855  0.811305  0.693725  1.000000  0.523301
14  0.009883  0.021819  0.006073  0.126084  0.336507  0.523301  1.000000
p <= 0.05:
        1      2      3      4      5      6      7      8      9     10  \
1   False  False   True   True   True  False  False   True  False   True
2   False  False   True   True   True  False  False   True  False   True
3    True   True  False  False  False  False   True  False  False  False
4    True   True  False  False  False  False  False  False  False  False
5    True   True  False  False  False  False  False  False  False  False
6   False  False  False  False  False  False  False  False  False  False
7   False  False   True  False  False  False  False  False  False  False
8    True   True  False  False  False  False  False  False  False  False
9   False  False  False  False  False  False  False  False  False  False
10   True   True  False  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False  False  False  False
12  False  False   True   True   True   True   True   True   True   True
13  False  False  False  False  False  False  False  False  False  False
14  False   True   True   True   True   True   True   True   True   True

       11     12     13     14
1   False  False  False  False
2   False  False  False   True
3   False   True  False   True
4   False   True  False   True
5   False   True  False   True
6   False   True  False   True
7   False   True  False   True
8   False   True  False   True
9   False   True  False   True
10  False   True  False   True
11  False  False  False  False
12  False  False  False  False
13  False  False  False  False
14  False  False  False  False
p <= 0.01:
        1      2      3      4      5      6      7      8      9     10  \
1   False  False   True  False  False  False  False  False  False  False
2   False  False   True  False  False  False  False  False  False  False
3    True   True  False  False  False  False   True  False  False  False
4   False  False  False  False  False  False  False  False  False  False
5   False  False  False  False  False  False  False  False  False  False
6   False  False  False  False  False  False  False  False  False  False
7   False  False   True  False  False  False  False  False  False  False
8   False  False  False  False  False  False  False  False  False  False
9   False  False  False  False  False  False  False  False  False  False
10  False  False  False  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False  False  False  False
12  False  False   True   True   True  False  False  False  False   True
13  False  False  False  False  False  False  False  False  False  False
14  False  False   True   True   True  False   True   True  False   True

       11     12     13     14
1   False  False  False  False
2   False  False  False  False
3   False   True  False   True
4   False   True  False   True
5   False   True  False   True
6   False  False  False  False
7   False  False  False   True
8   False  False  False   True
9   False  False  False  False
10  False   True  False   True
11  False  False  False  False
12  False  False  False  False
13  False  False  False  False
14  False  False  False  False